---
import LeftSide from "../components/LeftSide.astro";
import TopSide from "../components/TopSide.astro";
import Main from "../components/Main.astro";
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Anton CV</title>
	</head>
	<body>
		<div class={`absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[31.8rem] h-[45rem] box-content
        border-2 border-black`}>

            <div class="flex flex-wrap h-full items-stretch content-start">
                <TopSide />
                <LeftSide />
                <Main />
            </div>

        </div>
        
	</body>
</html>
