---

---

<div class="w-2/3 p-2 h-[90%]
border-2 border-fuchsia-700">
    <p class="text-xs">Skilled at lateral and critical thinking with a strong knowledge of Computer Science, 
        Physics and Mathematics. Excellent at managing dynamic workload under pressure. Ability to quickly 
        grasp new concepts and ideas. Proficient at handling, analysing and employing data. Outstanding at 
        working in a team and being a team leader, utilizing strategies for effective communication. Proven 
        track record of consistently meeting deadlines while multitasking. + Self-taught, results-driven and 
        highly motivated programmer with diverse experience in problemsolving and natural ability to learn and 
        master new skills and technologies.
    </p>
    <div class="my-2">

        <p class="border-b-2 font-bold text-[var(--main-color)]">Education</p>
        <div class="my-2 flex text-xs gap-2">
            <div class="border-2 border-black font-semibold">
                2016 - 2019
            </div>
            <div class="border-2 border-black w-[31rem]">
                <p class="font-bold">
                    MPhys Physics, Astrophysics
                </p>
                <p>
                    Lancaster University, Lancaster
                </p>
                <p>
                    Predicted First
                </p>
            </div>
        </div>

        <div class="my-2 flex text-xs gap-2">
            <div class="border-2 border-black font-semibold">
                2016 - 2019
            </div>
            <div class="border-2 border-black w-[31rem]">
                <p class="font-bold">
                    A-Level: Physics, Maths, Economics
                </p>
                <p>
                    Lancaster University, Lancaster
                </p>
                <p>
                    Grades: A*, A*, A
                </p>
            </div>
        </div>

        <p class="border-b-2 font-bold text-[var(--main-color)]">Projects</p>
        <div class="border-2 border-red-700">
            <div>
                Project 1
            </div>
            <div>
                Project 2
            </div>
        </div>
    </div>
</div>