---
const fullName: string = 'Anton Belov';
const position: string = 'Software Developer';
---

<div class="bg-[var(--main-color)] px-3 pt-1 w-full text-slate-100 tracking-wide h-[10%]">
    <h3>{fullName}</h3>
    <h5>{position}</h5>
</div>